<% layout('layout1') %>

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Collge Finder</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                    <a>
                    <h2 class="post-title">
                        <%= review[0].title %>
                    </h2>
                    </a>

                <p class="post-meta">Posted by
                    <a href="#"><%= review[0].username %> </a>
                        on <%= review[0].createdAt %>
                </p>

            </div>


            <div class="post-preview">
                <a>
                    <h2 class="post-title">
                        <%= review[1].title %>
                    </h2>
                </a>
            
                <p class="post-meta">Posted by
                    <a href="#">
                        <%= review[1].username %> </a>
                    on
                    <%= review[1].createdAt %>
                </p>
            
            </div>

          

            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>