<% layout('layout1') %>

<header class="masthead" style="background-image: url('img/home-bg1.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>College Finder</h1>
                    <span class="subheading">Get into your dream college</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <% for (var i=0;i < creviews.length;i++) { %>
            <div class="post-preview">
                    <a>
                    <h2 class="post-title">
                        <a href="/:creviews._id"><%= creviews[i].rtitle %></a>
                    </h2>
                    </a>

                <p class="post-meta">Posted by
                    <a href="/login"><%= creviews[i].username %> </a>
                        on <%= creviews[i].createdAt.toDateString() %> |
                            <%= creviews[i].branch %>
                            <%= creviews[i].collegename %>
                            - Batch of <%= creviews[i].year %>
                            
                            
                </p>

            </div>


                        <% } %>

            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>

    </div>
</div>

<hr>